.button-quantity {
  border: none;
  border-radius: 5px;
  margin: 0.3rem;
  height: 30px;
  width: 30px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: ease 0.5s all;
  transition: all 0.5s ease;
}
.fa-times {
  color: red;
  cursor: pointer;
}
.cart-table {
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}
.Total-Price {
  display: inline-block;
  font-weight: 700;
  padding: 1rem;
}
.Checkout-Button-Text {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}
.Checkout-Button {
  padding: 0;
  margin: 1rem;
  background-color: #222;
  border: none;
  border-radius: 4px;
  margin: 0.3rem;
  outline: none;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  height: 36px;
}
